<h1> User</h1>
<% if current_user%>
    Logged in as <%= current_user.name %>
<% else%>
    Logged out
<%end%>


<hr/>

<h1> All Comments </h1>

<% @comments.each do |comment|%>
  <div>
   <%= comment.body %>  is comment 
   <br/>
   <%= comment.user.name %>
  </div>

<% end %>

<hr>

<h2>new comment</h2>

<%= form_for Comment.new do |f| %>
  <%= f.text_field :body%>
  <%= f.submit %>
<% end %>





<hr/>

<h2> Login </h2>

<%= form_for User.new do |f| %>
    <%= f.text_field :name , placeholder: "namee" %>
    <%= f.submit %>
  <% end%>